@font-face {
    font-family: odin-font;
    src: url(./Norse-Bold.otf);
}

:root {
    --rightContainerPadding: 15px 30px 30px 30px;
}

body {
    margin:0;
    font-family: sans-serif;
}

h1, h2 {
    margin:0;
    /* font-family: sans-serif; */
    font-weight: 600;
}

h2 {
    margin: 0.2rem 0 0.85rem;
}

#main {
    display: flex;
    margin: 0;
    width: 100vw;
    height:100vh;
    background-color: rgb(210, 240, 210);
    /* justify-content: center; */
}

#leftContainer,
#rightContainer {
    display: flex;
    /* justify-content: center; */
}

#leftContainer {
    background-image: url(./images/background-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 35vw;
    flex-shrink: 0;
}

#logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 150px;
    width: 100%;
    background-color: rgba(0,0,0,0.55);
    /* text-align: center; */
}

#imgLogo {
    height: 100px;
}

#logoName {
    font-family: odin-font, sans-serif;
    font-weight: 500;
    font-size: 5rem;
    color: white;
}

#rightContainer {
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 10px;
}

#infoHeader {
    padding: var(--rightContainerPadding);
}

.headerText {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
}

#formContainer {
    padding: var(--rightContainerPadding);
    /* border: 1px solid black; */
    background-color: white;
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.35);
}

.formRow + .formRow {
    margin-top: 10px;
}

.formRow {
    display: flex;
    gap: 40px;
}

.formStack {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.9rem;
    color: rgb(90, 90, 90);
    padding-bottom: 4px;
}

input {
    margin-bottom: 6px;
    border: 1px solid rgb(145, 145, 145);
    border-radius: 4px;
    padding: 4px;
}

input:focus {
    border: 2px solid #2d15b8;
    box-shadow: 0 0 1px 1px rgb(15, 142, 247);
    margin: -1px;
    outline: none;
}

input:not(:focus):not(:placeholder-shown):invalid {
    border: 1px solid #f70505;
}

#rightFooter {
    padding: var(--rightContainerPadding);
}

#btnSubmit {
    color: white;
    background-color: #596D48;
    padding: 12px 40px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.35);
    font-size: 1.1rem;
}

.footerText {
    font-size: 1rem;
    font-weight: 400;
}