@font-face {
    font-family: odin-font;
    src: url(./Norse-Bold.otf);
}

:root {
    --rightContainerPadding: 15px 30px 30px 30px;
}

body {
    margin:0;
}

h1, h2 {
    margin:0;
}

h2 {
    margin: 0.2rem 0 0.85rem;
}

#main {
    display: flex;
    margin: 0;
    width: 100vw;
    height:100vh;
    background-color: rgb(210, 240, 210);
    /* justify-content: center; */
}

#leftContainer,
#rightContainer {
    display: flex;
    /* justify-content: center; */
}

#leftContainer {
    background-image: url(./images/background-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 35vw;
}

#logoText {
    font-family: odin-font, sans-serif;
    font-weight: 500;
    font-size: 3rem;
}

#rightContainer {
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 10px;
}

#infoHeader {
    padding: var(--rightContainerPadding);
}

#formContainer {
    padding: var(--rightContainerPadding);
    /* border: 1px solid black; */
    background-color: white;
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.35);
}

.formRow + .formRow {
    margin-top: 10px;
}

.formRow {
    display: flex;
    gap: 40px;
}

.formStack {
    display: flex;
    flex-direction: column;
}

#rightFooter {
    padding: var(--rightContainerPadding);
}